// Primary color palette
$dark-terra-cotta: #D54762;
$white-smoke: #F3F5F7;
$pewter-blue: #91AEC1;
$dark-slate-gray: #294B59;
$paolo-veronese-green: #009B7C;

// Primary basic
$primary-green: $paolo-veronese-green;
$primary-dark-gray: $dark-slate-gray;
$primary-blue-gray: $pewter-blue;
$primary-white: $white-smoke;
$primary-red: $dark-terra-cotta;

$primary-black: #1B3038;
$white: #fff;

// Breakpoints
$bp-small: 48em;
$bp-medium: 64em;
$bp-large: 85.375em;
$bp-xlarge: 120em;
$bp-xxlarge: 160em;
