@import '../custom-mixins.scss';
@import '../custom-variables.scss';

.addContentContainer {
  height: 250px;
  border: 1px dashed $primary-dark-gray;
  margin-top: 25px;
}

.iconContainer {
  transition: background-color .2s;
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: $primary-dark-gray;
  font-size: 3em;
  width: 50%;
  height: 100%;

  &:hover {
    transition: background-color .2s;
    background-color: $primary-blue-gray;
  }

  span {
    @include alignMiddle()
  }
}

.imgUploadDisabled {
  cursor: initial;
  background-color: $primary-blue-gray;
  color: $primary-white;
}
